@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-color: #102542;
  --primary-color: #ffd33f;
  --secondary-color: #f45d02;
}

.small-button {
  font-size: 16px;
  font-weight: 500;
  width: 76px;
  height: 33px;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.signup {
  background-color: #ffd33f;
  color: #102542;
}
.signup:hover {
  background-color: #ddb01e;
}
.login {
  border: 1px solid #102542;
  color: #102542;
}
.login:hover {
  background-color: #102542;
  color: #fff;
}
.text-gradient {
  background-color: linear-gradient(45deg, #f3ec78, #af4261);
}

.main-button {
  display: inline-block;
  padding: 15px 90px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: var(--primary-color);
  color: var(--title-color);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.main-small-button {
  display: inline-block;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: var(--primary-color);
  color: var(--title-color);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.main-small-button:hover {
  background-color: #ddb01e;
}
.button-icon {
  margin-left: 10px;
  transition: margin 0.3s ease-in-out;
}
.main-button:hover .button-icon {
  margin-left: 16px;
}
.section-heading {
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  position: relative;
  margin-bottom: 56px;
}

.section-heading::before {
  content: "";
  position: absolute;
  background-image: url(../images/Arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: 10px auto;
  transform: translateX(-50%);
  top: 100%;
}
